{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card p-4">
        <form method="POST" action="{{ url_for('main.update_profile') }}" id="profile-form">
            <div class="mb-3">
                <label for="username" class="form-label">Логин</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ current_user.username }}" disabled readonly>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="surname" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="{{ current_user.surname or "" }}" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ current_user.name or "" }}" disabled>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}" disabled>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="birth_date" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control" id="birth_date" name="birth_date" value="{{ current_user.birth_date.strftime('%Y-%m-%d') if current_user.birth_date else '' }}"
 disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="gender" class="form-label">Пол</label>
                    <select class="form-select" id="gender" name="gender" disabled>
                        <option value="not_s" {% if current_user.gender == 'not_s' %}selected{% endif %}>Не выбрано</option>
                        <option value="male" {% if current_user.gender == 'male' %}selected{% endif %}>Мужской</option>
                        <option value="female" {% if current_user.gender == 'female' %}selected{% endif %}>Женский</option>
                    </select>
                </div>
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-secondary" id="edit-btn">Редактировать</button>
                <button type="submit" class="btn btn-primary d-none" id="save-btn">Сохранить</button>
            </div>
        </form>
    </div>
        <div class="mt-4">
        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger btn-md px-4 py-2">
            <i class="bi bi-box-arrow-right me-2"></i>Выйти из профиля
        </a>
    </div>
</div>


<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
