{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm rounded-4 p-4 text-center bg-light">
        <h2 class="mb-4 d-flex justify-content-between align-items-center">
            {{ survey.title }}
            <a href="{{ url_for('stats.export_survey_statistics', survey_id=survey.id) }}" class="btn btn-primary btn-sm">
                Экспорт в CSV
            </a>
        </h2>

        {% for question in survey.questions %}
            <div class="mb-3">
                <h5 class="mb-4">{{ loop.index }}. {{ question.question_text }}</h5>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-md-6 mb-4">
                    <div style="height: 300px;">
                        <canvas id="pie_chart_{{ question.id }}" class="canvas-pie"></canvas>
                    </div>
                </div>

                {% if question.question_type.value != 'text' %}
                <div class="col-md-6 mb-2">
                    <div style="height: 300px;">
                        <canvas id="bar_chart_{{ question.id }}" class="canvas-chart"></canvas>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Подключаем Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const surveyData = {{ survey_data | tojson }};
</script>
<script src="{{ url_for('static', filename='js/survey_charts.js') }}"></script>

{% endblock %}
