{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm rounded-4 p-4">
        <h2 class="mb-3 fw-bold text-primary">{{ survey.title }}</h2>
        <p class="text-muted mb-4">{{ survey.description }}</p>

        <form method="POST" action="{{ url_for('survey.submit_survey', survey_id=survey.id) }}">
            {% for question in survey.questions %}
                <div class="mb-4">
                    <label class="form-label fw-semibold d-block mb-2">
                        {{ loop.index }}. {{ question.question_text }}
                    </label>

                    {% if question.question_type.value == 'text' %}
                        <input type="text" name="question_{{ question.id }}" class="form-control" required>

                    {% elif question.question_type.value == 'single' %}
                        <div class="ms-2">
                            {% for option in question.options %}
                                <div class="form-check sm d-flex align-items-center">
                                    <input class="form-check-input sm" type="radio"
                                        name="question_{{ question.id }}"
                                        id="option_{{ option.id }}"
                                        value="{{ option.id }}" required>
                                    <label class="form-check-label sm" for="option_{{ option.id }}">
                                        {{ option.option_text }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                    {% elif question.question_type.value == 'multiple' %}
                        <div class="ms-2">
                            {% for option in question.options %}
                                <div class="form-check sm d-flex align-items-center">
                                    <input class="form-check-input sm" type="checkbox"
                                        name="question_{{ question.id }}[]"
                                        id="option_{{ option.id }}"
                                        value="{{ option.id }}">
                                    <label class="form-check-label sm" for="option_{{ option.id }}">
                                        {{ option.option_text }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-lg btn-primary px-4">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
